{% extends 'blog/base.html' %}
{% load extras %}
{% block content %}
<style>
    .right{
        margin-right: 0px;
    }
</style>
    <h1>Profile
    {% if request.user|string == user.username %}
     <a class="right btn btn-primary" href="{% url 'user_edit' slug=user.slug %}">Edit</a> <a class="right btn btn-primary" href="{% url 'logout' %}">Logout</a>
    {% endif %}
    </h1>
    <hr style="border-width: 2px;background-color: black;">
    <h2>Username: {{ user.username }}</h2>
    <h2>Posts: <a href="{% url 'user_posts' slug=user.slug %}">Posts</a></h2>
    <h2>Total Posts : {{ num_post }}</h2>
{% endblock content %}