{% extends 'blog/base.html' %}
{% block content %}
<style>
    .fill {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width:100%;
    height: 35px;
}
</style>
<div class="centerstage">
    <div class="search-container">
        <form action="{% url 'search_post' %}">
          <input class="fill" name="q" type="text" placeholder="Search" name="search">
        </form>
    </div>
    {% for post in post_list %}
        <div class="post">
            <h1><a style="color: #2b2f36;" href="{% url 'post_detail' pk=post.pk %}">{{post.title}}</a></h1>
            <div class="date">
                <p>Published on {{post.published|date:"D M Y"}}</p>
            </div>
            <p>Comments: {{ post.approve_comments.count }}</p>
            <hr style="background-color: black;border-width: 2px;">
        </div>
    {% empty %}
        <h1>There is no Post Here</h1>
    {% endfor %}
</div>
{% endblock %}