{% extends 'blog/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<div class="jumbotron">
    <h2>Please Register:</h2>

    <form action="{% url 'register' %}" method="POST">
        {% csrf_token %}
        <p>Username</p>
        <p>{{ form.username }}</p>
        <p>Email</p>
        <p>{{ form.email }}</p>
        <p>Password</p>
        <p>{{ form.password }}</p>
        <input class="btn btn-primary" type="submit" value="Register">
        <input type="hidden" name="next" id="{{next}}">
    </form>
</div>

{% endblock %}